<form action="http://erinnerungsbot.de/a/sms/receive" method="post">
To<input name="To" value="+12569077816">
From<input name="From" value="+359895629405">
Body<input name="Body" value="">
<input type=submit>
</form>